<!DOCTYPE html>

{% if get_locale() == "ja" or get_locale() == "ja_JP" %}
<html lang="ja">
{% else %}
<html lang="en">
{% endif %}

  <!-- STARRT: head -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ _('base_title') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ _('base_description') }}" />
    <meta name="keywords" content="PubCaseFinder Rare Disease Phenotype Gene Match Differential Diagnosis Assist" />
    <meta name="author" content="Database Center for Life Science" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@fujitoyo" />
    <meta property="og:url" content="https://pubcasefinder.dbcls.jp/"/>
    <meta property="og:title" content="PubCaseFinder"/>
    <meta property="og:description" content="PubCaseFinder is a phenotype-driven differential-diagnosis system for rare diseases, always up-to-date"/>
    <meta property="og:image" content="https://pubcasefinder.dbcls.jp/static/images/logo_PubCaseFinder.png"/>


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	
    <!-- Animate.css -->
    <link rel="stylesheet" href="/static/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/static/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/static/css/style.css">
    
    <!-- Modernizr JS -->
    <script src="/static/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->

    <!-- jquery-tokeninput -->
    <link rel="stylesheet" href="/static/css/token-input-facebook.css" type="text/css" />

    <!-- popup-tokeninput -->
    <link rel="stylesheet" href="/static/css/popup-hierarchy-hpo.css">

    <!--schema.rog-->
    <script type="application/ld+json">
      {
      "@context": "http://schema.org/",
      "@type": "Dataset",
      "name": "PubCaseFinder",
      "description": "PubCaseFinder is a phenotype-driven differential-diagnosis system for rare diseases, always up-to-date",
      "url": "https://pubcasefinder.dbcls.jp/",
      "version": "1.0",
      "keywords": "PubCaseFinder,PubCases,Rare Disease,Phenotype,Gene,Match,Differential Diagnosis,Assist",
      "creator": "Database Center for Life Science, DBCLS",
      "license": "http://creativecommons.org/licenses/by/2.1/jp/",
      "distribution": {
        "contentUrl": "http://togodb.org/db/disease_phenotype_associations_20170720",
        "fileFormat": "csv"
        }
      }
    </script>

  </head>
  <!-- END: head -->


  <!-- STARRT: body -->
  <body>

    <!-- START: navigation -->
    <div class="fh5co-loader"></div>
    <div id="page">

    <nav class="fh5co-nav" role="navigation">
      <div class="container">
	<div class="row">
	  <div class="col-xs-2 text-left">
	    <div id="fh5co-logo"><a href="/">PubCaseFinder</a></div>
	    <!--div id="fh5co-logo"><a href="/"><image src="/static/images/logo_PubCaseFinder_blue.png" width="300"></a></div-->
	  </div>
	  <div class="col-xs-10 text-right menu-1">
	    <ul>
	      <li><font color="white" size="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;( {{ _('Update') }} )&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><li>
	      {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
	      <li><a href="/static/pdf/PubCaseFinder_manual_ja.pdf" target="_blank">{{ _('About') }}</a></li>
	      {% else %}
	      <li><a href="/static/pdf/Summary_PubCaseFinder.pdf" target="_blank">{{ _('About') }}</a></li>
	      {% endif %}
	      <li><a href="{{ _('TermsOfService_URL') }}">{{ _('TermsOfService') }}</a></li>
	      <li><a href="/mme">API</a></li>
	      <li><a title="Comments & suggestions are welcome!" href="mailto:pubcasefinder@dbcls.rois.ac.jp" href="#">{{ _('Contact') }}</a></li>
	    </ul>
	  </div>
	</div>
      </div>
    </nav>
    <!--/div-->
    <!-- END: navigation -->

    <!-- START: navigation background -->

    <!--header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/static/images/img_bg_1.jpg);" data-stellar-background-ratio="0.5"-->
    <header id="fh5co-header" class="fh5co-cover" role="banner">
      <div class="overlay"></div>
    </header>
    <!-- END: navigation background -->


    {% block content %}{% endblock %}


    <!-- START: gototop -->
    <div class="gototop js-top">
      <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>
    <!-- END: gototop -->

  </body>
  <!-- END: body -->

  <script type="text/javascript" src="https://dbcls.rois.ac.jp/DBCLS-common-header-footer/common-footer/script/common-footer.js" id="common-footer__script"></script>

  <!-- START: activate tool-tip -->
  <script type="text/javascript">
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
  </script>
  <!-- END: activate tool-tip -->

</html>

