{% extends "base.html" %}
{% block content %}


    <!-- START: FORM -->
    <div id="fh5co-project">
      <div class="container">
	<form name="search" action="/search_disease" method="post" class="form-group">
	  <div align="middle"><a href="/"><img src="/static/images/logo_PubCaseFinder.png" width="550"></a></div>
	  <br>
	  <div align="middle">
	    <table width="70%">
	      <tr align="middle">
		<td>
		  <table width="100%">
		    <tr>
		      <td width="100%">
			<textarea class="form-control" rows="2" id="tokeninput_hpo" name="str_phenotypes"></textarea>
		      </td>
		      <td>&nbsp;</td>
		      <td>
			{% if get_locale() == "ja" or get_locale() == "ja_JP" %}
			<button data-toggle="tooltip" title="{{ _('index_Q_tooltip') }}" class="btn btn-default" type="button" onClick="window.open().location.href='/static/pdf/PubCaseFinder_manual_ja.pdf'"><font size="4">?</font></button>
			{% else %}
			<button data-toggle="tooltip" title="{{ _('index_Q_tooltip') }}" class="btn btn-default" type="button" onClick="window.open().location.href='/static/pdf/Summary_PubCaseFinder.pdf'"><font size="4">?</font></button>
			{% endif %}
		      </td>
		    </tr>
		  </table>
		</td>
	      </tr>
	      <tr><td><br></td></tr>
	      <tr align="middle">
		<td>
		  <table>
		    <tr>
		      <td>
			<button id="tokeninput_hpo_clear" class="btn btn-default"<>{{ _('index_button_clear') }}</button>
			<button type="submit" class="btn btn-primary">{{ _('index_button_search') }}</button>
                      </td>
                    </tr>
                  </table>
	        </td>
	      <tr><td><br></td></tr>
	      <tr align="middle">
	        <td valign="top">
		  <a href="#" id="ex_phenotypes"><font color="#0431B4"><u>ex) {{ _('index_Sample') }}</u></font></a>
	        </td>
	      </tr>
	    </table>
          </div>
	  <input type="hidden" name="str_genes" value="">
	  <input type="hidden" name="page_orphanet" value="1">
	  <input type="hidden" name="page_omim" value="1">
	  <input type="hidden" name="changesize_selector_orphanet" value="10">
	  <input type="hidden" name="changesize_selector_omim" value="10">
	</form>
	<br><br><br>
      </div>
    </div>
    <!-- END: FORM -->


    <!-- START: Description -->
    <div id="fh5co-services" class="fh5co-bg-section border-bottom">
      <div class="container">
	<div class="row">
	  <div align="center"><h1><font color="#337ab7">{{ _('index_label_intro_title') }}</font></h1></div>
	  <!--
	  <div class="col-md-3 col-sm-6 ">
	    <div align="center"><h1><b><font color="#337ab7">About</font></b></h1></div>
	    <p>PubCaseFinder is a diagnosis assistant system for rare diseases based on phenotypic similarity.</p>
	  </div>
	  <div class="col-md-3 col-sm-6 ">
	    <div align="center"><h1><b><font color="#337ab7">Feature</font></b></h1></div>
	    <p>PubCaseFinder utilizes disease-phenotype associations extracted from over one million case reports.</p>
	  </div>
	  <div class="col-md-3 col-sm-6 ">
	    <div align="center"><h1><b><font color="#337ab7">Merit</font></b></h1></div>
	    <p>PubCaseFinder helps you find case reports which are similar to your input phenotypes.</p>
	  </div>
	  <div class="col-md-3 col-sm-6 ">
	    <div align="center"><h1><b><font color="#337ab7">Database</font></b></h1></div>
	    <p>Phenotype-associations for 4,066 rare diseases are <a href="http://togodb.org/db/disease_phenotype_associations_20170720">HERE</a>.</p>
	  </div>
	  -->
          <div align="center">
	    <!--
            &nbsp;<br>
            &nbsp;<br>
            &nbsp;<br>
	    -->
            <video width="100%" src="/static/images/PubCaseFinder_demo_720.mp4" webkit-playsinline playsinline muted autoplay controls="true">
              <!-- source type="video/mp4" -->
            </video>
          </div>
	</div>
      </div>
    </div>
    <!-- END: Description -->


    <!-- START: Statistics -->
    <div id="fh5co-counter">
      <div class="container">
	<div class="row animate-box" data-animate-effect="fadeInUp">
	  <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
	    <h2>Statistics</h2>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
	    <span class="icon">
	      <i class="ti-face-smile"></i>
	    </span>
	    <span class="counter"><span class="js-counter" data-from="0" data-to="4066" data-speed="1500" data-refresh-interval="50">1</span></span>
	    <span class="counter-label">Rare Diseases</span><br>
	    <a href="http://togodb.org/db/rare_diseases_20170720">&gt;&gt; List</a>
	  </div>
	  <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
	    <span class="icon">
	      <i class="ti-briefcase"></i>
	    </span>
	    <span class="counter"><span class=" js-counter" data-from="0" data-to="121576" data-speed="1500" data-refresh-interval="50">1</span></span>
	    <span class="counter-label">Disease-Phenotype Associations</span><br>
	    <a href="http://togodb.org/db/disease_phenotype_associations_20170720">&gt;&gt; List</a>
	  </div>
	  <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
	    <span class="icon">
	      <i class="ti-time"></i>
	    </span>
	    <span class="counter"><span class="js-counter" data-from="0" data-to="4002" data-speed="1500" data-refresh-interval="50">1</span></span>
	    <span class="counter-label">Disease-Gene Associations</span><br>
	    <a href="http://togodb.org/db/disease_gene_associations_20170720">&gt;&gt; List</a>
	  </div>
	  <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
	    <span class="icon">
	      <i class="ti-download"></i>
	    </span>
	    <span class="counter"><span class="js-counter" data-from="0" data-to="1" data-speed="1500" data-refresh-interval="50">1</span>M+</span>
	    <span class="counter-label">Case Reports</span><br>
	    <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=%22case+reports%22%5BPublication+Type%5D+OR+%22case+reports%22%5Bti%5D+OR+%22case+report%22%5Bti%5D">&gt;&gt; PubMed</a>
	  </div>
	</div>
      </div>
    </div>
    <!-- END: Statistics -->


    <!-- START: Original Data Sources -->
    <div id="fh5co-started">
      <div class="container">
	<div class="row animate-box">
	  <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
	    <h2>Original Data Sources</h2>
	    <ol>
	      <li><p align="left">Orphadata: Free access data from Orphanet. © INSERM 1997. Available on <a href="http://www.orphadata.org">http://www.orphadata.org</a>. Data version (XML data version).</p></li>
	      <li><p align="left">Sebastian Köhler, Sandra C Doelken, Christopher J. Mungall, Sebastian Bauer, Helen V. Firth, et al. The Human Phenotype Ontology project: linking molecular biology and disease through phenotype data Nucl. Acids Res. (1 January 2014) 42 (D1): D966-D974 doi:10.1093/nar/gkt1026</p></li>
	      <li><p align="left">Mungall, Christopher J., et al. The Monarch Initiative: an integrative data and analytic platform connecting phenotypes to genotypes across species. Nucleic acids research 45.D1 (2016): D712-D722.</p></li>
	      <li><p align="left">Wei CH et. al., PubTator: a Web-based text mining tool for assisting Biocuration, Nucleic acids research, 2013, 41 (W1): W518-W522. doi: 10.1093/nar/gkt44</p></li>
	      <li><p align="left">HPO-Japanese alpha version</p></li>
	      <li><p align="left">jQuery Tokeninput: Copyright (c) James Smith, Released under the MIT license, <a href="https://opensource.org/licenses/mit-license.php">https://opensource.org/licenses/mit-license.php</a></p></li>
	      <li><p align="left">Bootstrap template, Copyright <a href="https://freehtml5.co">FREEHTML5.CO</a> licensed by <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a></p></li>
	    </ol>
	  </div>
	</div>
      </div>
    </div>
    <!-- END: Original Data Sources -->


    <!-- START: Citing PubCaseFinder -->
    <br><br>
    <div id="fh5co-footer" role="contentinfo">
      <div class="container">
	<div class="row animate-box" data-animate-effect="fadeInUp">
	  <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
	    <h2>Citation</h2>
	  </div>
	</div>
	<div class="col-md-10 col-sm-6 ">
	  <p align="left"><font size="4"><b>{{ _('index_label_citation') }}</b></font>
	  <p>Toyofumi Fujiwara, Yasunori Yamamoto, Jin-Dong Kim, Orion Buske, and Toshihisa Takagi., PubCaseFinder: A Case-Report-Based, Phenotype-Driven Differential-Diagnosis System for Rare Diseases, The American Journal of Human Genetics (2018), <a href="https://doi.org/10.1016/j.ajhg.2018.08.003" target="_blank">https://doi.org/10.1016/j.ajhg.2018.08.003</a>&nbsp;&nbsp;&nbsp;&nbsp;
	    <a href="https://www.ncbi.nlm.nih.gov/pubmed/30173820" target="_blank">[PubMed entry]</a>&nbsp;&nbsp;
	    <a href="https://www.cell.com/ajhg/fulltext/S0002-9297(18)30269-6?code=ajhg-site" target="_blank">[Article]</a>
	  </p>
	</div>
      </div>
    </div>
    <br><br>
    <!-- END: Citing PubCaseFinder -->


    <!-- START: Import JavaScript -->	
    <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/static/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <!-- countTo -->
    <script src="/static/js/jquery.countTo.js"></script>
    <!-- Magnific Popup -->
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/magnific-popup-options.js"></script>
    <!-- Stellar -->
    <script src="/static/js/jquery.stellar.min.js"></script>
    <!-- Main -->
    <script src="/static/js/main.js"></script>
    <!-- END: Import JavaScript -->	


    <!-- START: jquery-tokeninput -->
    <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#ex_phenotypes").click(function (){
          $("#tokeninput_hpo").tokenInput("add", {id: "{{ _('index_Sample_1_id') }}", name: "{{ _('index_Sample_1_name') }}"});
          $("#tokeninput_hpo").tokenInput("add", {id: "{{ _('index_Sample_2_id') }}", name: "{{ _('index_Sample_2_name') }}"});
          $("#tokeninput_hpo").tokenInput("add", {id: "{{ _('index_Sample_3_id') }}", name: "{{ _('index_Sample_3_name') }}"});
          $("#tokeninput_hpo").tokenInput("add", {id: "{{ _('index_Sample_4_id') }}", name: "{{ _('index_Sample_4_name') }}"});
          $("#tokeninput_hpo").tokenInput("add", {id: "{{ _('index_Sample_5_id') }}", name: "{{ _('index_Sample_5_name') }}"});
          return false;
        });
        $("#tokeninput_hpo").tokenInput("/tokeninput_hpo", {
          theme: "facebook"
        });
        $("#tokeninput_hpo_clear").click(function (){
          $("#tokeninput_hpo").tokenInput("clear");
          return false;
        });
      });
    </script>
    <!-- END: jquery-tokeninput -->

    <!-- START: popup-hierarchy-hpo -->
    <script src="/static/js/popup-hierarchy-hpo.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#tokeninput_hpo").popupRelationHPO('/popup_hierarchy_hpo');
      });
    </script>
    <!-- END: popup-hierarchy-hpo -->


{% endblock %}

