{% extends "base.html" %}
{% block content %}

		
    <div class="fh5co-loader"></div>
	

    <!-- div id="fh5co-team" -->
    <div id="fh5co-testimonial">
      <div class="container">
        <div class="row animate-box row-pb-md">

	  <!-- START: Terms of Service for PubCaseFinder -->
          <div align="center"><h1>PubCaseFinder 利用規約</h1></div>
	  <div align="center"><p><a href="/termsofservice_en">English version</a> of this document is also available.</p></div>
	  <br><br>
	  <!-- END: Terms of Service for PubCaseFinder -->

	  <!-- START: ACCEPTANCE OF TERMS OF SERVICE -->
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <h3>「PubCaseFinder サービス」ご利用規約について</h3>
            <p>「PubCaseFinder サービス」（以下、本サービス）はライフサイエンス統合データベースセンター（以下、DBCLS）が独立行政法人 科学技術振興機構「ライフサイエンスデータベース統合推進事業基盤技術開発プログラム」の委託を受け提供するデータベースホスティングサービスです。 本サービスをご利用頂くためには、本サービスご利用規約（以下、本規約）に同意いただき、本規約を遵守していただく必要があります。本規約の適用範囲は本サービスを利用する一切の場合とします。</p>
          </div>
	  <!-- END: ACCEPTANCE OF TERMS OF SERVICE -->

	  <!-- START: MODIFICATIONS TO TERMS OF SERVICE -->
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <h3>規約の変更</h3>
            <p>DBCLSは本サービスのユーザの了解を必要とすることなく、本規約を変更できるものとします。 本規約の変更は本サービス提供サイト内において表示された時点から有効となり、 ユーザは本サービスの利用を継続する限り、変更後の規約に同意したものとします。</p>
          </div>
	  <!-- END: MODIFICATIONS TO TERMS OF SERVICE -->

	  <!-- START: COPYRIGHT -->
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <h3>著作権について</h3>
            <p>「統合データベースプロジェクト」のサイト（以下、本サイト）の<a href="http://lifesciencedb.jp/lsdb.cgi?lng=ja&gg=policy">サイト・ポリシー</a>内「著作権について」に準ずるものとします。</p>
          </div>
	  <!-- END: COPYRIGHT -->

	  <!-- START: DISCLAIMER OF WARRANTIES -->
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <h3>免責事項</h3>
            <p>本サイトの<a href="http://lifesciencedb.jp/lsdb.cgi?lng=ja&gg=policy">サイト・ポリシー</a>内「免責事項」に準ずるものとします。</p>
          </div>
	  <!-- END: DISCLAIMER OF WARRANTIES -->

	  <!-- START: PRIVACY POLICY -->
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <h3>プライバシー・ポリシー</h3>
            <p>本サイトの<a href="http://lifesciencedb.jp/lsdb.cgi?lng=ja&gg=policy">サイト・ポリシー</a>内「個人情報」に準ずるものとします。</p>
          </div>
	  <!-- END: PRIVACY POLICY -->

	  <!-- START: PROHIBITED USES -->
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <h3>禁止事項</h3>
            <p>本サイトの<a href="http://lifesciencedb.jp/lsdb.cgi?lng=ja&gg=policy">サイト・ポリシー</a>内「禁止事項」に準ずるものとします。</p>
          </div>
	  <!-- END: PROHIBITED USES -->

        </div>
      </div>
    </div>


    <!-- START: Lincense and Contact -->
    <footer id="fh5co-footer" role="contentinfo">
      <div class="container">
        <div class="row copyright">
          <div class="col-md-12 text-center">
            <p>
              <small class="block"><a href="/termsofservice_en">Terms of Service</a></small>
              <small class="block">PubCaseFinder is provided by <a href="http://dbcls.rois.ac.jp">Database Center for Life Science</a> and is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/2.1/jp/deed.en">Creative Commons Attribution 2.1 Japan License</a>.</small>
              <small class="block">Comments & suggestions are welcome. Please contact to : <a href="mailto:pubcasefinder@dbcls.rois.ac.jp" href="#">pubcasefinder@dbcls.rois.ac.jp</a></small>
              <br>
              <a href="http://dbcls.rois.ac.jp"><img src="/static/images/DBCLS_logo_en_2014.png" width="20%" class="pull-center" /></a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- END: Lincense and Contact -->


    <div class="gototop js-top">
      <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>


    <!-- START: Import JavaScript -->
    <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/static/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <!-- countTo -->
    <script src="/static/js/jquery.countTo.js"></script>
    <!-- Magnific Popup -->
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/magnific-popup-options.js"></script>
    <!-- Stellar -->
    <script src="/static/js/jquery.stellar.min.js"></script>
    <!-- Main -->
    <script src="/static/js/main.js"></script>
    <!-- END: Import JavaScript -->

	
{% endblock %}






